section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height:475px;
    
}

.logo{
    padding-bottom: 25px;
}

.searchBar input{
    width: 500px;
    height: 34px;
    border-radius: 35px;
    border: 1px solid #e3e5e8;
}

section{
    padding-left: 225px;
    padding-top: 25px;
}

li{
    display: inline;
}


.right{
    float: right;
    padding-right: 20px;
}

.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.top{
    margin-top: 20px;
    margin-left: 10px;  
}

.top a{
    padding-left: 10px;
    padding-right: 10px;
}


.top a{
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom a{
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}

.footer{
    border-top: 1px solid #e4e4e4;
    background-color: #F2F2F2;
    line-height: 40px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 40px;
    padding-right: 20px
}

.bottom ul{
    padding-right: 20px;    
}


section .buttons{
    padding-top: 25px;
}

.left-btn{
    padding: 5px 10px 5px 10px;
    height: 36px;
    min-width: 54px;
    text-decoration: none;
    font-family: arial,sans-serif;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    margin-right: 4px;
}

.right-btn{
    padding: 5px 10px 5px 10px;
    height: 36px;
    min-width: 54px;
    text-decoration: none;
    font-family: arial,sans-serif;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    margin-left: 4px;
}

.signin{
    background: #4387fd;
    height: 28px;
    padding: 5px 3px 5px 3px;
    
}

.signin a{
    color: #fff;
    font-weight: 700;
}